name: Build and cache

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    timeout-minutes: 120
    strategy:
      fail-fast: false
      matrix:
        package:
          - obs
          - multimedia-tools
          - yt-dl
          - vcv-rack-xwayland
          - reaper
          - drivenbymoss-reaper
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Nix
        uses: cachix/install-nix-action@v31

      - name: Setup Cachix
        uses: cachix/cachix-action@v15
        with:
          name: burnedouttech
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'

      - name: Build ${{ matrix.package }}
        run: nix build .#${{ matrix.package }} --print-build-logs
