name: Release Please

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  release-please:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      issues: write
    steps:
      - name: Create release PR / tag release
        uses: google-github-actions/release-please-action@v4
        with:
          release-type: simple
          package-name: streaming-setup-nix-flake

